@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

:root{
    --color-primary: #FCA311;
    --color-secondary: #b16e04;
  }

body{
    font-family: 'Red Hat Display', sans-serif;
    width: 100%; /*  max permitivo 750px; */
    min-width: 500px;
    max-width: 750px;
    overflow-x: hidden !important;
}

h1{
    font-weight: bolder !important;
    padding: 0 60px;
}

i{
    color: var(--color-primary);
}

#navbar{
    background-color: #242423;
    padding: 7px 0px;
    box-shadow: 2px 5px 3px grey;

    font-size: large;
    justify-content: center;
    text-aLign: center;
}


.btn-link{
    color: var(--color-primary) !important;
}

.content{
    padding: 40px 50px;
    justify-content: center;
    text-align: center;
}

.form-group{
    margin-bottom: 20px !important;
    text-align: left;
}
.btn-favs{
    background-color: var(--color-primary);
    border-color: var(--color-secondary);
    font-weight: bolder;
    width: 100%;
    &:hover{
        background-color: var(--color-secondary);
        border-color: var(--color-secondary);
    }
}

.form-control:focus{
    border-color: var(--color-secondary);
    box-shadow: 0 0 0 0.25rem rgba(252, 163, 1,.25);
}




/* Barra de Rolagem */
body::-webkit-scrollbar-track { background-color: var(--color-secondary); }
body::-webkit-scrollbar { width: 5px; background: var(--color-secondary);}
body::-webkit-scrollbar-thumb { background: var(--color-primary); border-radius: 5px;  }
body::-webkit-scrollbar-corner{ background: var(--color-primary); }